/* general style choices */
body {
  margin: 0;
  overflow: auto;
  background-color: #292929;
  color: #fff;
  padding: 10px;
}

button {
  cursor: pointer;
}

a {
  color: #999999;
}

a:hover {
  color: #e0e0e0;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table thead tr {
  background-color: #242424;
  color: white;
}

tr {
  border-bottom: 1px solid grey;
}

/* specific style choices */

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
}

.game-container {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-between;
}


.menu {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  padding: 10px;
  gap: 10px;
  width: fit-content;
  height: 300px;
  overflow: auto;
}

.areas {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  padding: 10px;
  gap: 20px;
  width: fit-content;
  height: 300px;
  overflow: auto;
}

.area-box {
  display: none;
  width: 70%;
  height: 300px;
  border: 1px solid grey;
  padding: 10px;
  overflow: auto;
}

.area-box.active {
  display: block;
}

.area-box > * {
  margin-top: 5px;
}

.dialogue-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: 1px solid grey;
  margin-top: 10px;
  padding: 10px;
  height: 180px;
  overflow: auto;
}

.choices {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid grey;
  height: 60px;
}

.choices button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

.text-input {
  margin-top: 5px;
  background-color: #181818;
  color: #fff;
  padding: 5px;
  border: 1px solid gray;
  height: 30px;
  width: 98.5%;
  overflow: auto;
}

/* individual areas */

#gore-forest-box {
  background-color: #181818;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./public/gore-forest.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
